body {
    background:#2e3436;
    color:#eeeeec;
    font-family: Arial, helvetica, sans-serif;
}

h3 {
    margin:0;
    padding:0;
}

h3 a:link {
    color:#eeeeec;
}

h3 a:visited {
    color:#bbb;
}

form {
    margin:0;
}

img.thumb {
    display:none;
    position:absolute;
    top:1em;
    right:50%;
    clear:both;
    float:right;
    margin:.2em;
}

.tooltip:hover:after {
    content: attr(data-tooltip);
}

a:link {
    /* color:#CD9E3F; */
    color:#eeeeec;
    font-weight:bold;
    text-decoration:none;
}

a:visited {
    /* color:#22893A; */
    color:#bbbbbc;
}

a:hover {
    color:#eeeeec;
}

a:active {
    color:#f00;
}

.feedTitle {
    height:1.5em;
    overflow:hidden;
    color:#CD9E3F;
    background:#2e3436;
    padding: .1em;
}

.feedTitle a {
    vertical-align:.3em;
}

.feed {
    vertical-align:top;
    margin: 0 1% .5em 0;
    font-size:.7em;
    border: #6CC918 1px solid;
}

.outerContainer {
    width:24%;
    display:inline-block;
    vertical-align:top;
}

.feed ul li img.feed {
    width:28%;
    margin: 0 0.5em 0.1em 0;
    vertical-align:text-top;
    /* clear:both; */
    float:left;
}


.feed ul li img.audio {
    width:10%;
    margin: 0 1% 1% 0;
    vertical-align:text-top;
    /* clear:both; */
    float:left;
}


.favicon img {
    width:16px;
}

hr {
    height:1px;
    color:transparent;
    margin:0;
    clear:both;
}

img.full {
    width:100%;
}

.ui-tabs-selected span {color:#CD9E3F}

.txt {
/* width:68%; */
/* float:right; */
}

.all {
    clear:both;
}

.txt-noImg {
    margin:0;
}

.feed:hover {
    border: #ff0 1px solid;
}

#dashBoard td {
    padding: .2em;
    vertical-align:top;
}

.feed ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feed ul li {
    margin:0;
    padding: .3em;
    background: #555;
    line-height:1em;
}

.feed ul li:nth-child(even) {
    background: #444;
}

.feed ul li:first-child {
    border-top: 1px solid #2E3436;
}

.feed ul li:hover {
    background: #111;
}

.invisible {
    display:none;
}

.visible {
    display:block;
}

/* Tabs */

/*
 * .spacer {
 *     margin: 0 0 3em 0;
 * }
 */

.ui-widget-content {
    background: #555;
    border: 1px solid #AAAAAA;
    color: #222222;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #555;
    border: 1px solid #AAAAAA;
    color: #212121;
    font-weight: normal;
}

.ui-widget-header {
    background: #999;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}

img.loading {
/* position:absolute; */
/* top:15px; */
/* right:15px; */

}

.ui-tabs .ui-tabs-panel {
    padding: 1em .5em;
}

.reload {
    cursor:pointer;
    float:right;
    line-height:1em;
    margin: 0 .1em 0 0;
    font-size:150%;
}

.reload:hover {
    color:red;
}

.feedUp {
    line-height:1.5em;
    vertical-align:bottom;
}

.feedDel:hover {
    color:red;
}

.feedUp:hover {
    color:green;
}
