<Files mgmt.php>
    AuthType Basic
    AuthName "You get to read my feeds, but only I manage them, mmkay ?"
    AuthUserFile /your/password/file
    Require valid-user
</Files>
ErrorDocument 403 philippe/nws/plop.php

#cache flash and images for one month
# <FilesMatch ".(flv|swf|ico|gif|jpg|jpeg|png)$">
#     Header set Cache-Control "max-age=2592000"
# </FilesMatch>